<div class="overall station_nav">
    当前位置：<a href="http://bryanyang.github.io/" rel="nofollow">OMO购物</a><span class="point">&gt;</span>购物比价
</div>
<div class="overall">   
   
    <div class="compare">
        <input value="输入商品关键词搜索比价" type="text" id="compareValue" class="compare-search" style="width：300px;" onfocus="if(this.value=='输入商品关键词搜索比价'){this.value=''}" />
        <input type="button" href="#/searchResult" value="搜索比价"  id="compareId" class="compare-button" />
        
    </div>
    <div class="hotcompare"><b>提示：</b><span>目前数据仅收录少量衣服，商用时将收录更多 :-)</span></div>
</div>

<script type="text/javascript">
  $('#compareId').click(function(){
    alert(1);
     window.location.replace('http://bryanyang.github.io/#/searchResult');
  })
</script>