   <div id="dp_list">
            <ul id="content">
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6456591"></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<script type="text/javascript" src="Content/script/HomeIndex.js"></script>
<li class="clearfix dp " id="52502" ng-repeat="product in products">
<a name="ph52502" id="ph52502" />
        <h3>
            <a target="_blank" onclick=clickAd(&#39;deals&#39;,52502) href="#/products/{{product.id}}" rel="nofollow">{{product.title}}</a></h3>
            <h4>
                <a target="_blank" onclick=clickAd(&#39;deals&#39;,52502) href="#/products/{{product.id}}" rel="nofollow">{{product.property}}</a></h4>
        <dl class="list_con clearfix">
            <dt><a target="_blank" href="#/products/{{product.id}}" rel="nofollow">
                <img alt="" src="{{product.img}}" width=219 height=167 />
            </a>
              
            </dt>
            <dd class="list_con_text" style="height: 144px; overflow: Hidden;">
                <div class="hui-content-text">{{product.description}}</div>
            </dd>
            <dd>
                    <span class="list_info">
                            <span class="dp_shop"><a href="{{product.url}}">{{product.offlineAddress}}</a></span>
                        <span class="dp_shop">{{product.date}}</span><span class="dp_time" style="color:blue">库存：{{product.kucun}}</span></span>
                    <a target="_blank"  class="readmore" onclick="clickAd('deals',52502)" rel="nofollow" id="to_url" href="{{product.url}}">
                        直达链接</a>
                <a target="_blank" class="readmore_detail"  href="{{product.url}}">查看详情</a>
                <div class="both">
                </div>
            </dd>
        </dl>
        <div class="bl_btm clearfix">
            <ul class="vote">
                <li class="fir" msgId="52502" typeId="2">赞一个
<span id="spantextgoodId52502" style="display:none;">(<b id="textgoodId52502">0</b>)</span>                    <div class="bl_vote_tips" id="bl_vote_tips52502">
                        <p>
                            已经投过票了，<a rel="nofollow" href="http://www.yifen.com/deals/detail-52502.html#comment=A0">再说两句:)</a>
                        </p>
                    </div>
                </li>
                <li class="sec" msgId="52502" typeId="2">不咋样
<span id="spantextbedId52502" style="display:none;">(<b id="textbedId52502">0</b>)</span>                </li>
                <li class="thi" msgId="52502" typeId="2">过期啦</li>
                    <li class="for" style="float:right"><a href="http://www.yifen.com/deals/detail-52502.html#comment=A0">
发表评论                    </a></li>
            </ul>            
        </div>
    </li>
    
<script type="text/javascript">
    function updatetagall(name, typeId) {
        $.post("/tags/update", { 'name': name, 'type': typeId });
    }
</script>
            </ul>
                <div id="loading" style="text-align: center; display: none; margin: 0px auto;">
                    <img src="Content/images/loading.gif" width="220" height="19" alt="load data" />
                </div>
                <div class="more_link" style="padding-top:20px;font-size:14px;">
                    <p>
                        <a href="/deals-2/" title="更多国内促销">618预计<strong>更新超500</strong>条，你才浏览了50条！<span style="color:#cc0000;">点击查看更多618特价信息</span></a>
                    </p>
                    
                </div>
                <script type="text/javascript">
                    $(function () {
                        $(".more_link p").hover(function () {
                            $(this).addClass("curr");
                        }, function () {
                            $(this).removeClass("curr");
                        })
                    })
                </script>
            <div class="overpage">
                <div class="parting">
                </div>
            </div>
        </div>