<script type="text/javascript">
    
    function showMap (url) {
        window.open(url,"_blank",height=600,width=800);
    }
</script>

<div id="dp_list">
            <ul class="clearfix">
                <li class="clearfix dp">
                    <h3>{{product.title}}</h3>
                 
                    <div class="list_info clearfix">
                        <span class="dp_time">{{product.date}}</span> <span class="dp_tags">
标签：                          <em><a href="">{{probuct.business}}</a> </em>
                                <em><a href="">{{product.property}}</a> </em>
                        </span>
                        <span class="dp_read"><text>浏览：</text><text>225次</text></span>
                    </div>
                    <dl class="list_con_detail clearfix">
                        <dt><a  target="_blank" href="http://www.yifen.com/redirect?p=52984&amp;f=22&amp;i=1023&amp;u=http%3a%2f%2fsellout.woot.com%2foffers%2fnew-balance-bushmaster-tactical-boots-us-1"  rel="nofollow" >
                            <img alt="{{product.title}}"src="{{product.img}}"/></a> </dt>
                    </dl>
                    <div class="dp_detail clearfix">
                        <div class="hui-content-text"><p>{{product.description}}</p></div>
                    </div>
                     <dl class="list_con_detail clearfix">
                        <dt>
                            <img alt="二维码"src="http://articles.csdn.net/uploads/allimg/120217/125_120217121159_1.png" style="height:200px" /></dt>
                         <dt><p style="color:red;font-size:1.6em">扫描二维码立即抢单！</p></dt>   
                    </dl>
                    <div class="list_btm clearfix">
                        <p class="d_gotoshop">
                                <a target="_blank" onclick="clickAd('deals',52984)" rel="nofollow" id="to_url" href="{{product.url}}">
                                    去看看&gt;&gt;</a>
                                <a href="" class="forr" >发表评论</a>
                        </p>
                        <div id="offlineShop">
                        	<div class="sdRecommendBox">
                <ul class="sdRecommendlist">                    
                    <li>                    
                        <a href="" target="_blank">线下商城，比比更实惠！</a>                    
                    </li>                               
                </ul>
            </div> 
                        <ul>
                        	<li class="offline">
                        		<h2>银济南银座购物广场泺源大街店</h2><h3>￥55.3</h3><h3>库存:56</h3><a onclick="window.open('http://map.baidu.com/?newmap=1&shareurl=1&l=17&tn=B_NORMAL_MAP&c=13027868,4367205&i=-1%7C-1|-1&s=s%26wd%3D%E6%B5%8E%E5%8D%97%E9%93%B6%E5%BA%A7%E8%B4%AD%E7%89%A9%E5%B9%BF%E5%9C%BA%E6%B3%BA%E6%BA%90%E5%A4%A7%E8%A1%97%E5%BA%97%26c%3D1','_blank',height=600,width=800)" href="javascript://">山东省济南市泺源大街99号</a><a>在线抢单</a>
                        	</li>
                        	<li class="offline">
                        			<h2>贵和购物中心</h2><h3>￥70</h3><h3>库存:1000</h3><a onclick="window.open('http://map.baidu.com/?newmap=1&shareurl=1&l=15&tn=B_NORMAL_MAP&c=13026335,4366042&i=0%7C-1|-1|0a15c7ecddd396e5ed74f8c0&s=nb%26c%3D288%26wd%3D%E5%95%86%E5%9C%BA%26da_src%3Dpcmappg.map%26on_gel%3D1%26l%3D15%26gr%3D1%26nb_x%3D13025509.49%26nb_y%3D4365635.64%26gr_radius%3D1000','_blank',height=600,width=800)" href="javascript://">市中区马鞍山路15号新世界商城内(近英雄山)</a><a>在线抢单</a>
                        	</li>
                        		<li class="offline">
                        			<h2>济南振华商厦</h2><h3>￥50</h3><h3>库存:526</h3><a window.open('http://map.baidu.com/?shareurl=1&poiShareUid=64ff3be1f27b28a290114c1d&cityCode=288&tn=B_NORMAL_MAP','_blank',height=600,width=800) href="javascript://">魏家庄街道经四路东首13号</a><a>在线抢单</a>
                        	</li>
                        </ul>
                    </div>
                        <div class="bl_btm clearfix">
                            <ul class="vote">
                                <li class="fir" msgId="52984" typeId="2">赞一个(<text id="textgoodId52984">50</text>)
                                    <div class="bl_vote_tips" id="bl_vote_tips52984">
                                        <p>
                                            已经投过票了，<a rel="nofollow" href="/deals/detail-52984.html#A0">再说两句:)</a>
                                        </p>
                                    </div>
                                </li>
                                <li class="sec" msgId="52984" typeId="2">不咋样(<text id="textbedId52984">3</text>)</li>
                                <li class="thi" msgId="52984" typeId="2">过期啦</li>
                            </ul>
                            <ul>
                                <li class="share">
                                    <!-- Baidu Button BEGIN -->
                                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" data="{
		                'bdDes':'Woot转运到手约470元',	
		                'text': '我在@一分网 发现了一个超值折扣，$49.99 新百伦Bushmaster 6寸男款战术靴（美国制造）',
		                'title':'我在@一分网 发现了一个超值折扣，$49.99 新百伦Bushmaster 6寸男款战术靴（美国制造）',
		                'pic':'http://www.yifen.com//img/files/2014/6/60a116c5-d3d4-403d-9a78-c9cd3dac1b71-small.jpg',	
		                'bdComment':'更多实惠尽在@一分网',	
		                'url':'http://www.yifen.com/haitao/detail-52984.html'	,
		                'wbuid':'2690702681',
	                }">
                                        <span class="bds_more">分享到</span> <a class="bds_qzone"></a><a class="bds_tsina">
                                        </a><a class="bds_tqq"></a><a class="bds_renren"></a>
                                    </div>
                                </li>
                                <div class="relevant_tips" id="SuccesVote52984" onclick="this.style.display='none'">
                                    <h4>
                                        <p>
                                            已经投过票了</p>
                                    </h4>
                                </div>
                            </ul>
                        </div>
                    </div>
                <div class="dp_bcsm">
                       <span >【温馨提醒】</span><span class="f666">
                           推荐安装一分网特价信息实时推送<a href="http://www.yifen.com/deals/detail-51486.html" style="color:blue" target="_blank">浏览器小插件</a>,第1时间获得信息。不错过好价！</span>
                         一分网推荐的特价优惠信息有一定时效性，若您到商家网站发现价格变化或缺货，请以实际为准！


<a _xhe_href="    http://shang.qq.com/wpa/qunwpa?idkey=3abbd8746daf92d789fe73d9e3f347aa148a8e35750f2dd1f370a9874c947755
"
    href="    http://shang.qq.com/wpa/qunwpa?idkey=3abbd8746daf92d789fe73d9e3f347aa148a8e35750f2dd1f370a9874c947755
"
    style="font-family: Arial, Helvetica, sans-serif;display:block;float:right;" target="_blank">
    <img _xhe_src="http://pub.idqqimg.com/wpa/images/group.png" alt="一分网官方群"
        border="0" src="http://pub.idqqimg.com/wpa/images/group.png" title="一分网官方群" /></a>
                       </div>
                    <div class="others_bl clearfix">
                            <a href="http://www.yifen.com/deals/detail-52983.html">
                                <text>上一篇：</text>
                                手慢无！61.8元包邮 创维移动 L160 GSM 老人手机</a>
                            <a href="http://www.yifen.com/deals/detail-52987.html">
                                <text>下一篇：</text>
                                好乐买 PONY 运动鞋促销 </a>
                    </div>
                </li>
            </ul>
        </div>
