@charset "utf-8";
/* CSS Document */


.artical_menu {
    background: none repeat scroll 0 0 #F8F8F8;
    float: left;
    margin-top: 10px;
    width: 200px;
}
.menu h3 {
    background: none repeat scroll 0 0 #EEEEEE;
    border-top: 1px solid #DDDDDD;
    font-size: 14px;
    margin-top: 0;
    padding-left: 20px;
}
.menu ul {
}
.menu li {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.menu li a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 50px;
    width: 150px;
}
.menu li a:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    text-decoration: none;
}
.menu .li_on {
    background: none repeat scroll 0 0 #83C215;
}
.menu .li_on a {
    font-weight: bold;
}
.menu .li_on a:link, .menu .li_on a:visited {
    color: #FFFFFF;
}
.menu .li_on a:hover {
    background: url("../images/icon_square.png") no-repeat scroll 35px 17px #48A6D2;
    color: #FFFFFF;
}
.menu_last {
    border-bottom: 1px solid #EAEAEA;
}
.artical_list dl p {
    float: right;
    font-size: 12px;
    font-weight: normal;
}
.artical_list {
    float: left;
    margin-left: 20px;
    /*width: 780px;*/
}
.artical_list dl {
    border-bottom: 1px dotted #DDDDDD;
    height: 20px;
    padding: 15px 0;
}
.artical_list dt {
    font-size: 15px;
}
.artical_list .subtitle {
    color: #999999;
    margin-bottom: 10px;
}
.artical_list .subtitle span {
    margin-right: 20px;
}
.artical_list .subtitle span em {
    color: #999999;
    font-style: normal;
}
.artical_list .des {
    color: #666666;
}
.artical_list h4 {
    color: #83C215;
    font-size: 16px;
    padding: 15px 0;
}
.artical_search {
    background: none repeat scroll 0 0 #FEFAEF;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    padding: 10px;
}
.artical_search h5 {
    font-size: 16px;
}
.artical_search p {
    padding: 5px 0;
}
.artical_search .input {
    border: 1px solid #DDDDDD;
    color: #999999;
    height: 35px;
    line-height: 35px;
    padding: 0 4px;
    width: 455px;
}
.artical_search .btn {
    background: none repeat scroll 0 0 #83C215;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    margin-left: 10px;
    padding: 0 20px;
}
.artical_search p a {
    text-decoration: underline;
}
.artical_detail {
    float: left;
    /*margin-left: 20px;*/
    margin-top: 10px;
    /*width: 780px;*/
}
.artical_right h4 {
    color: #999999;
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}
.artical_right li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 240px;
}
.artical_title {
    color: #83C215;
    font-size: 26px;
    font-weight: bold;
    line-height: 31px;
    margin-bottom: 10px;
}
.artical_subtitle {
    margin-bottom: 20px;
}
.artical_subtitle span {
    margin-right: 20px;
}
.artical_subtitle span em {
    color: #999999;
    font-style: normal;
}
.artical_con p {
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
}
.prevnext_link {
    margin: 40px 0;
}
.prevnext_link a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 340px;
}
.prevnext_link a:link, .prevnext_link a:visited {
    color: #999999;
}
.other_artical h4 {
    border-bottom: 1px solid #DDDDDD;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.other_artical li {
    line-height: 24px;
}
.article_nav {
    background-color: #F7F7F7;
    border-left: 2px solid #83C215;
    font-size: 14px;
    line-height: 20px;
    margin: 25px 0 20px 17px;
    padding: 10px 15px;
}
.article_hint {
    background-color: #F7F7F7;
    margin: 25px 0 20px 17px;
    padding: 10px 15px;
}
.article_img_center {
    text-align: center;
}
.artical_detail a, .article_nav a:link, .article_nav a:visited {
    color: #83C215;
    font-size: 14px;
}
.artical_detail a:hover {
    font-size: 14px;
    text-decoration: none;
}
.artical_result{margin-left:0;width:720px;}

/*20130509新增*/
.art_sear_r h5{font-size:14px;}
.art_sear_r ul{padding:10px 0 20px 0;}
.art_sear_r ul li{height:30px;line-height:30px;border-bottom:1px dotted #dcdcdc;}

/*2013-11-18 10:01:17*/
/*  原有样式上进行修改   */
.ht-detail-box{ width: 708px; padding: 10px; z-index: 100; position: relative; overflow: hidden; border: 1px solid #eee; }
.ht-detail-box .shop_text{ width:505px;}
/*  原有样式上进行修改   */
/*    新增样式     */
.other-quan { width: 708px; padding: 10px; border: 1px solid #eee; font-family: "微软雅黑"; margin-top: 20px; position: relative; }
.other-quan h3 { color: #666; font-size: 18px; font-weight: normal; padding-bottom: 5px; }
.other-quan p { color: #999; font-size: 12px; height: 18px; line-height: 18px; }
.yhm { background: #fff8ce; border: 1px solid #fff2a8; padding: 10px; margin-top: 10px; }
.yhm span, .yhm strong, .yhm em, .yhm i { display: block; float: left; height: 30px; line-height: 30px; }
.yhm span { font-size: 24px; color: #fff; background: #8c8452; width: 130px; text-align: center; margin-right: 12px; }
.yhm i { font-style: normal; color: #999; font-size: 12px; }
.yhm em { font-size: 18px; color: #000; }
.yhm a { display: block; float: right; height: 30px; line-height: 30px; width: 90px; background: url(/Content/images/btn.png) no-repeat; text-align: center; color: #fff; font-size: 14px; }
.yhm a:hover { text-decoration: none; background: url(/Content/images/btn-hover.png) no-repeat; }
.other-quan b { position: absolute; top: -16px; left: -16px; background: url(/Content/images/hot.png) no-repeat; width: 32px; height: 32px; }
.other-list { /*width: 728px;*/ padding: 10px 0; font-family: "微软雅黑"; border-bottom: 1px dashed #eee; }
.artical_list .other-list dl{ border:none;}
.other-list dt { float: left; margin-right: 20px; }
.other-list dt img { /*height: 130px;*/ width: 200px; }
.other-list dd { float: right; width: 470px; padding: 5px 0; }
.other-list .tit { font-size: 16px; color: #333; }
.other-list .times { color: #999; font-family: "宋体"; font-size: 12px; }
.other-list .info { color: #666; font-family: "宋体"; line-height: 18px; }
.rel { position: relative; }
.abs { position: absolute; }
.yhm .abs { top: 0; left: 0; z-index: 2; height: 52px; width: 600px; }
/*    新增样式   */